body{
    font-size: 40px;
    font-family: sans-serif;
    margin: 0%;
}
.name-highlight{
    color: yellow;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.size{
    font-size: 30px;
}
.top-banner{
    background-repeat: no-repeat;
    background-image: url(images/website-banner.jpg.jpg);
}
section{
    height: 500px;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient( orange, yellow);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-family: bold;

}